<h2>Demo 1 - Nested validation</h2>
<div *ngIf="formDemo1">
    <div class="group" [formGroup]="formDemo1">
        How can we contact you?
        <label>
            <input type="checkbox" formControlName="dontContactMe">
            <span>don't do that</span>
        </label>
        <br>
        <ng-container *ngIf="!formDemo1.get('dontContactMe')!.value">
            Contact by:
            <label>
                <input type="radio" value="telephone" formControlName="contactBy">
                <span>home telephone</span>
            </label>
            <label>
                <input type="radio" value="mobile" formControlName="contactBy">
                <span>mobile</span>
            </label>
            <label>
                <input type="radio" value="email" formControlName="contactBy">
                <span>email(async validation)&nbsp;</span>
            </label>
            <ng-container *ngIf="formDemo1.get('contactBy')!.value === 'email'">
                <input formControlName="email">
            </ng-container>
        </ng-container>
    </div>
    <p *ngIf="!formDemo1.get('dontContactMe')!.value" [class]="formDemo1.get('contactBy')?.status">contactBy required</p>
    <p *ngIf="!formDemo1.get('dontContactMe')!.value && formDemo1.get('contactBy')!.value === 'email'" [class]="formDemo1.get('email')?.status">email required</p>
    <p [class]="formDemo1.status">form status :{{ formDemo1.status }}</p>
    <p>form value : {{ formDemo1.value | json }}</p>
</div>

<h2>Demo 2 - Compare password</h2>
<div *ngIf="formDemo2">
    <div class="group" [formGroup]="formDemo2">
        password: <input formControlName="password"><br>
        repeat: &nbsp;&nbsp;&nbsp;&nbsp; <input formControlName="repeat">
    </div>

    <p [class]="formDemo2.get('password')?.status">password required</p>
    <p [class]="formDemo2.status">password === repeat</p>
    <p [class]="formDemo2.status">form status :{{ formDemo2.status }}</p>
    <p>form value : {{ formDemo2.value | json }}</p>
</div>

<h2>Demo 3 - Nested validation (by diable the control)</h2>
<div *ngIf="formDemo3">
    <div class="group" [formGroup]="formDemo3">
        How can we contact you?
        <label>
            <input type="checkbox" formControlName="dontContactMe">
            <span>don't do that</span>
        </label>
        <br>
        <ng-container *ngIf="!formDemo3.get('dontContactMe')!.value">
            Contact by:
            <label>
                <input type="radio" value="telephone" formControlName="contactBy">
                <span>home telephone</span>
            </label>
            <label>
                <input type="radio" value="mobile" formControlName="contactBy">
                <span>mobile</span>
            </label>
            <label>
                <input type="radio" value="email" formControlName="contactBy">
                <span>email&nbsp;</span>
            </label>
            <ng-container *ngIf="formDemo3.get('contactBy')!.value === 'email'">
                <input formControlName="email">
            </ng-container>
        </ng-container>
    </div>
    <p *ngIf="!formDemo3.get('dontContactMe')!.value" [class]="formDemo3.get('contactBy')?.status">contactBy required</p>
    <p *ngIf="!formDemo3.get('dontContactMe')!.value && formDemo3.get('contactBy')!.value === 'email'" [class]="formDemo3.get('email')?.status">email required</p>
    <p [class]="formDemo3.status">form status :{{ formDemo3.status }}</p>
    <p>form value : {{ formDemo3.value | json }}</p>
</div>


<h2>Demo 4 - Nested form and nested validation (by diable the control)</h2>
<div *ngIf="formDemo4">
    <div class="group" style="height: 100px;" [formGroup]="formDemo4">
        question1:
        <label>
            <input type="radio" [value]="true" formControlName="question1">
            <span>Yes</span>
        </label>
        <label>
            <input type="radio" [value]="false" formControlName="question1">
            <span>No</span>
        </label>
        <br>
        <div *ngIf="formDemo4.get('question1')!.value" class="nested" formGroupName="level2">
            question2: <input formControlName="question2">(required)<br>
            <label>
                <input type="checkbox" formControlName="question3">
                <span>question3</span>
            </label>
            <br>
            <div *ngIf="formDemo4.get('level2.question3')!.value" class="nested" formGroupName="level3">
                question4: <input formControlName="question4">(required)<br>
                question5: <input formControlName="question5">(required)<br>
            </div>
        </div>
    </div>
    <p [class]="formDemo4.get('level2')?.status">level2</p>
    <p [class]="formDemo4.get('level2.level3')?.status">level3</p>
    <p [class]="formDemo4.status">form status :{{ formDemo4.status }}</p>
    <p>form value : {{ formDemo4.value | json }}</p>
</div>

<h2>Demo 5 - Nested validation and reset value</h2>
<div *ngIf="formDemo5">
    <div class="group" [formGroup]="formDemo5">
        How can we contact you?
        <label>
            <input type="checkbox" formControlName="dontContactMe">
            <span>don't do that</span>
        </label>
        <br>
        <ng-container *ngIf="contactMe5">
            Contact by:
            <label>
                <input type="radio" value="telephone" formControlName="contactBy">
                <span>home telephone</span>
            </label>
            <label>
                <input type="radio" value="mobile" formControlName="contactBy">
                <span>mobile</span>
            </label>
            <label>
                <input type="radio" value="email" formControlName="contactBy">
                <span>email&nbsp;</span>
            </label>
            <ng-container *ngIf="contactByEmail5">
                <input formControlName="email">
            </ng-container>
        </ng-container>
    </div>
    <p *ngIf="contactMe5" [class]="formDemo5.get('contactBy')?.status">contactBy required</p>
    <p *ngIf="contactMe5 && contactByEmail5" [class]="formDemo5.get('email')?.status">email required</p>
    <p [class]="formDemo5.status">form status :{{ formDemo5.status }}</p>
    <p>form value : {{ formDemo5.value | json }}</p>
</div>